@font-face {
    font-family:Helveticaregular;
    src: url(../fonts/HelveticaNeue.ttf);
    src: url(../fonts/HelveticaNeueRegular.eot);
    src: url(../fonts/HelveticaNeueRegular.woff);
    src: url(../fonts/HelveticaNeueRegular.woff2);
}