* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-color: blue;
  height: 1080px;
}
.h2 {
  padding-top: 10%;
  padding-left: 10%;
}
.p {
  padding-top: 2%;
  padding-left: 10%;
}
.iframe {
  padding-top: 2%;
  padding-left: 10%;
  border-radius: 15%;
  display: inline-block;
  margin-top: -12%;
}
.color {
  color: white;
}
.p {
  width: 40%;
  font-size: 16px;
}
.contact img {
  background-color: white;
  display: inline-block;

  padding: 10px;
}
.contact {
  padding-left: 10%;
  padding-top: 2%;
  display: flex;
  align-items: center;
}
.contact :nth-child(3) {
  margin-left: 15%;
}
.last-div {
  padding-top: 5%;
  padding-left: 10%;
  display: flex;
  align-items: center;
}
.damzadebulia {
  padding-left: 50%;
}
.it {
  margin-right: 2%;
}
.input1 {
  display: flex;
  justify-content: space-between;
}
.input {
  padding-right: 25%;
}
.gagzavna {
  padding: 10px 35px;
}
.input input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid gray;
  height: 70px;
  width: 120%;
}
.textarea textarea {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid gray;
  height: 50px;
  width: 150px;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
.section {
  background-color: blue;
  height: 300px;
  align-items: center;
  padding: 100px;
  padding-top: 20px;
}
.first-p {
  font-size: 30px;
  color: white;
}
.section-div {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin-left: 5px;
}
.div1 {
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.second-class {
  background-color: gray;
}
.image-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.images {
  width: 300px;
  margin: 50px;
}
.image2 {
  margin-top: -120px;
}
.div2 {
  display: flex;
  margin-left: 130px;
  margin-top: 20px;
  position: absolute;
}
.second-p {
  width: 300px;
  background-color: #ffffff;
  border-radius: 15px;
  position: relative;
  padding: 10px;
  margin-left: -350px;
  margin-bottom: -170px;
  font-family: Helveticaregular;
}
span {
  width: 150px;
  font-size: 18px;
  color: black;
  display: flex;
  margin-top: 380px;
  margin-left: 1000px;
}
.main-div {
  display: flex;
  justify-content: space-between;
}
H1 {
  margin-top: 50px;
  font-size: 32px;
}
.PARAGRAFI {
  width: 463px;
  margin-top: 50px;
}
.d-flex {
  display: flex;
  width: 219px;
  height: 82px;
}
.wertili {
  border-radius: 50px;
  width: 7px;
  height: 7px;
  background-color: blue;
  position: absolute;
  right: 40%;
  top: 60%;
}
.wertili2 {
  border-radius: 50px;
  width: 7px;
  height: 7px;
  background-color: gray;
  position: absolute;
  right: 39%;
  top: 60%;
}
.wertili3 {
  border-radius: 50px;
  width: 7px;
  height: 7px;
  background-color: gray;
  position: absolute;
  right: 38%;
  top: 60%;
}
.border-radius {
  display: flex;
  justify-content: space-between;
}
